body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
width: 30rem;
height: 30rem;
margin: auto;
/* border: 1px solid black; */
display: flex;
flex-wrap: wrap;

}

.square {
width: 8rem; height: 8rem;
border: 1px solid black;
margin:2%;
border-radius: 1rem;
background-color:#778DA9 ;
}

.square:hover{
  background: #758394;
  cursor: pointer;
}

.App{
  width: 100%;
  height: 100vh;
  background-image:url("./Image/cool-background.png");
  background-size: 100% 100%;
}